.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (min-width: 30em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
